@use 'sass:math';

//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// COLORS
$elephant: #0B2434;
$steel-gray: #2B283A;
$white: #FFFFFF;
$electric-violet: #5035FF;
$pastel-green: #59E391;
$ligth-green: lightgreen;
$wild-sand: #F5F5F5;

// SPACES
$space60: 60px;

// BREAKPOINTS
$smartphone: 0px;
$phablet: 480px;
$tablet: 768px;
$desktop: 1024px;
$large_desktop: 1280px;
$wide_desktop: 1440px;
$fhd_desktop: 1920px;