@import "../../shared";

.app {
  width: 360px;
  height: 379px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 20px solid;
  background-color: $elephant;

  &__title {
    font-size: rem(40px);
    margin: 0;
  }

  &__instructions {
    font-family: "Inter", sans-serif;
    margin: 30px 40px;
    text-align: center;  }
}

main {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dices {
  display: grid;
  grid-template-rows: 36px 36px;
  grid-template-columns: repeat(5, 36px);
  grid-gap: 18px;
}

.button {
  color: $white;
  margin-top: 25px;
  padding: 10px;
  width: 125px;
  border-radius: 2%;
  border-color: transparent;
  cursor: pointer;
  
  &:active {
    opacity: 0.9;
  }

  &--roll {
    background-color: $electric-violet;
  }

  &--reset {
    background-color: $ligth-green;
  }
}