@import "../../shared";

.die {
    width: 36px;
    height: 36px;
    font-size: rem(21px);
    color: $steel-gray;
    font-weight: 700;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 3px 5px -3px rgb(0 0 0 / 10%);
    cursor: pointer;

    &--held {
        background-color: $pastel-green;
        pointer-events: none;
    }
}